.b-table {
  width: 100%;
  overflow: auto;
  color: "red";
  height: 400px;
  .rdg-header-row .rdg-cell {
    height: 42px;
    color: white;
    padding-block-start: unset !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_color;
  }
}

.b-table .rg-header-cell {
  justify-content: center;
  background: rgba(134, 229, 255, 0.5) !important;
}

.b-field {
  width: 100%;
}

.b-vertical-divider {
  height: 5vh;
  border-color: #ffb13d;
}

.b-horizontal-divider {
  margin: 5px 0 5px;
  border-color: #dededede;
}

.b-card {
  border-radius: 0px;
  height: 100%;
  box-shadow: 4px 4px 8px rgb(202, 202, 202);
  display: flex;
  .ant-card-body {
    padding: 10px 8px;
  }
  .ant-card-head-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: navy;
    white-space: break-spaces;
  }
}

.b-row {
  padding: 0px 20px 24px 20px;
}

.main-card {
  height: calc(100vh - 160px);
  border-radius: 0px;
  box-shadow: 4px 4px 8px rgb(202, 202, 202);

  .ant-card-body {
    padding: 2px 0px 2px 12px;
    height: 100%;
  }
}
