$primary_color: #058ee3;
$secondary_color: #cee8ff;
$menu_sub_color: #7ea1ff;
$text_sub_color: #00215e;
$text_primary_color: #4a4366;
$text_sencodary_color: #a59a9a;
$red_color: #e63e30;
$white_color: #fafafa;

$height_header: 70px;
$width_sider: 290px;
$height_footer: 50px;
$width_menu_item: 100%;

:root {
  --primary-color: #058ee3;
  --secondary-color: #cee8ff;
  --text-primary-color: #464255;
  --text-secondary-color: #a59a9a;
  --red-color: #e63e30;

  --height-header: 90px;
  --height-footer: 50px;
  --width-sider: 270px;
}
