.LoginWrapper {
  background-image: url("../../../public/Background.png");
  height: 100vh;
  background-size: cover;
}
.LoginLogo {
  width: 120px;
}
.LoginName {
  font-weight: 700;
  font-size: 1.2rem;
  color: $primary_color;
  //   color: red;
}
.LoginTitleHighline {
  position: absolute;
  top: -50px;
  left: 95px;
  width: 240px;
}
.LoginInfor {
  background-color: $secondary_color;
  // color: var(icin d);
  height: 50px;
  font-size: 1.2rem;
  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    background-color: transparent;
  }
}
.Col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.LoginButtonConfirm {
  width: 100%;
  height: 40px;
  font-weight: 600;
  color: white;
  background-color: $primary_color;
}

.LoginThumb {
  width: 60%;
}
