.vessel-modal .ant-modal-content {
  padding: 10px;
}

.vessel-modal .ant-modal-footer {
  margin-top: 10px;
}

.vessel-select .ant-card-body {
  padding: 10px;
}

.vessel-select .ant-card-body .b-table {
  height: 250px;
}
